.arg-list {
    padding: 90px 0px;
}


.section-title{
  font-size: 2.5rem;
  color: #ce6f43;
  font-weight: 300;
}

.arg-list ul {
  list-style-image: url('../images/puce.png');
}

.arg-list ul li span {
  font-weight: bold;
  color:#454545;
    position: relative;
    bottom: 7px;
}

.arg-list ul li{
  padding: 15px;
}

.link-green a{
  color:#3ba092;
}

/*

.newsletter-field , .newsletter-btn{
  border: 0px;
  height: 50px;
  float: left;
}

form.newsletter-form {
    position: relative;
    top: 50px;
}

.newsletter-field{
   width: 230px;
   height: 50px;
   border-radius: 5px 0px 0px 5px;
}

.newsletter-btn{
   width: 120px;
   background: red;
   color:#fff;
   border-radius: 0px 5px 5px 0px;

}*/
/*Inscription à la newsletter*/

.newsletter{
  padding-top: 100px;
  padding-bottom: 100px;
  color:#fff;
  background: url(../images/bg-newsletter.png);
  background-size:cover;
  position: relative;
  z-index: 1;
}

form#mc_signup_form {
    position: relative;
    top: 50px;
}

input#mc_signup_submit, input#mc_mv_EMAIL {
  border:0px;
}

.mc_merge_var {
    float: left;
}

input#mc_mv_EMAIL {
  width: 230px;
  height: 50px;
  border-radius: 5px 0px 0px 5px;
}

input#mc_signup_submit {
  width: 120px;
  height: 50px;
  background: #d70e21;
  color:#fff;
  border-radius: 0px 5px 5px 0px;
}

li#mailchimpsf_widget-2 {
    list-style: none;
}

label.mc_var_label.mc_header.mc_header_email {
    display: none;
}
div#mc_display_rewards {
    display: none;
}

.testimonials{
  background-color: #f7f3f0;
}

.testimonials .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2318ab9b' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.testimonials .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2318ab9b' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slick-dots li button:before {
    font-size: 1rem;
}

.testimonials .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 40px;
    height: 40px;}

div#testimonialsControls p {
  text-align: center;
  font-size: 1.5rem;
  color:#494748;
}



.image{
  width:100%;
  height:100px;
  background-color: #000;
}

.slick-slide {
    display:flex !important;
    align-items: center;
    height: 159px;
}


.partenaires {
    text-align: center;
}

.partenaires .slick-dotted.slick-slider {
    margin-bottom: 80px;
    padding-bottom: 20px;
}

.partenaires .btn-success a {color:#fff;}

.partenaires .btn-success {
    background-color: #23aa9b;
    border-color: #23aa9b;
}

.partenaires .btn-success:not(:disabled):not(.disabled):active {
   background-color: #23aa9b;
   border-color: #23aa9b;
}

.partenaires, .pub, .testimonials {
    padding: 76px 0px 76px 0px;
}

.slogan {
    padding: 50px 0px 20px 0px;
}

.sloganIN p {
    text-align: center;
    color:#6b6b6b;
    padding: 10px 0px 10px;
    font-size:1.5rem;
}

.map {
    width: 100%;
    text-align: center;
    position: relative;
    top: 117px;
    z-index: 0;
}

.map_wrap {
    display: inline-block;
    width: 317px;
    height: 590px;
    background: url(../images/smartphone.png) no-repeat;
}

.mapIN {
    display: inline-block;
    width: 250px;
    height: 443px;
    background-color: #000;
    overflow: hidden;
    position: relative;
    top: 74px;
    left: 2px;
}

div#map_canvas {
    height: 100%;
}

.arg-list h2 {
  text-align: left;
}

.anchor-wrap{
  text-align:right;
}

.anchor-wrap a{
  color:#4e948a;
}

.pub{
  text-align: center;
  background-color: #4d4d4d;
  color:#fff;
}

.pubDesc p{
  font-size:1.5rem;
  font-weight: 300;
  padding: 0px 5px;
}

.pubDesc .btn{
  background-color: #d70e21;
}

.pubDesc .btn a{color:#fff;}

.pubDesc .btn:hover{
  background-color: #c80d1f;
}

/*carousel partenaires*/

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #fea227;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before{
  color: #fea227;
}

@media (max-width: 767px) {

  span.logo {
      position: relative;
      top: 30px;
  }

  .anchor-wrap {
    text-align: center;
}

.map {
    margin-bottom: 30px;
    top: 65px;
  }

}

@media (max-width: 576px) {

  input#mc_mv_EMAIL {
      width: 208px;}

      .section-title {
          font-size: 2rem;}

}

@media (max-width: 320px) {
  .mapIN {
      width: 224px;
      height: 392px;
      top: 65px;
}

.map_wrap {
    width: 280px;
    background-size: 100%;
}

input#mc_mv_EMAIL {
    width: 182px;
}

input#mc_signup_submit {
    width: 107px;}

    .arg-list {
    padding: 10px 0px;
}

}
