.menu-footer {
  display: flex;
  width: 100%;
}

span.logo{
  flex-grow: 1;
}

.menu-footerIN{width: 100%;}

.menu-footerIN ul {
    display: flex;
    list-style: none;
    width:100%;
    padding: 0px;
    justify-content: space-between;
}


.menu-footerIN ul li a {
    color: #4f4f4f;
    font-weight: bold;
}

span.logo-footer img {
    width: 60%;
}

span.logo-footer {
    text-align: center;
}
