.menu-footer {
  display: flex;
  width: 100%;
}

span.logo{
  flex-grow: 1;
}

.menu-footerIN{width: 100%;}

.menu-footerIN ul {
    display: flex;
    list-style: none;
    width:100%;
    padding: 0px;
    justify-content: space-between;
}


.menu-footerIN ul li a {
    color: #4f4f4f;
    font-weight: bold;
}


.face-color{
  color:#0553a5;
}

.twit-color{
  color:#43a2f4;
}

span.logo-footer img {
    width: 60%;
}

span.logo-footer {
    text-align: center;
}

@media (max-width: 768px) {
  .menu-footer, .menu-footerIN ul {
      flex-direction: column;
      align-items: center;
  }

  nav.menu-footerIN ul li {
    padding: 5px 0px 5px 0px;
}

}
